<footer class="text-center text-white" style="background-color: #212529;">
  <div class="text-center p-5">
    © 2022 Copyright:
    <a class="text-white" href="/">E-Commerce Web</a>
  </div>
</footer>